.comments {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.comments > img {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.comments .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.comments .wrapper .commentArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  background: var(--gray-700);
  padding: 1rem;
  border-radius: 8px;
}

.comments .wrapper .commentArea > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments .wrapper .commentArea > header .infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments .wrapper .commentArea > header .infos .authorId > strong {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--gray-100);
}

.comments .wrapper .commentArea > header .infos .authorId > span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--gray-400);
}

.comments .wrapper .commentArea > header .infos > time {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--gray-400);
}

.comments .wrapper .commentArea > header .trash {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  border: none;
  color: var(--gray-400);
  border-radius: 2px;
  line-height: 0;
  transition: 0.1s;
}

.comments .wrapper .commentArea > header .trash:hover {
  color: var(--red);
  filter:drop-shadow(0 0 10px var(--red));
}

.comments .wrapper .commentArea .commentContent {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--gray-300);
}

.comments .wrapper .applause {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  transition: 0.1s;
}

.comments .wrapper .applause:hover {
  color: var(--green-300);
  filter:drop-shadow(0 0 10px var(--green-300));
}

.comments .wrapper button {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  border: none;
  color: var(--gray-400);
  border-radius: 2px;
}

.comments .wrapper button:focus {
  border: none;
  outline: none;
}